@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

* {box-sizing: border-box}

a {text-decoration: none}

.dash-header {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.2);
}

.dash-logo-pic {
  width: 70px;
  height: 65px;
}

.component-title {
  font-size: 32px;
  color: rgb(29, 82, 142);
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  background-color: rgb(199, 2, 2);
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.2);
}

.admin-nav {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}

.admin-nav-link  {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 30px;
  width: 130px;
  font-size: 15px;
}

.dash-menu {
  background-color: white;
  display: flex;
  justify-content: space-between
}

.dash-menu-pic {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 5px;
}

.dash-pic-button {
  
  width: 75px;
  height: 100%;
  background-color: white;
  border: none
}

.dash-buttons {
  background-color: white;
  color:  rgb(29, 82, 142);
  text-align: center;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  width: 130px;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}
.dash-buttons:hover {
  color:  rgb(199, 2, 2);
}

.dash-buttons-on {
  background-color: white;
  color:  rgb(199, 2, 2);
  text-align: center;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  width: 130px;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  position: fixed;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}
  
.dropdown-content a:hover {
 color: rgb(209, 4, 4)
}
  
.dropdown:hover .dropdown-content {
  display: block;
  right: 0px;
}
 
.dropdown:hover .dropbtn {
  color: rgb(209, 4, 4)
}